.sign-up-card {
    width: 500px;
    margin: auto;
    border: 1px solid #4ac1d4;
    margin-top: 100px;

    .fiel {
        display: block;
    padding: 5px 2px 5px 2px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #4ac1d4;
    }
    .none-border{
        border: none;
    }
    form {
        text-align: center;
    }
}
